
<script src="https://kit.fontawesome.com/a177902e94.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/styles/main.css">
<link rel="stylesheet" href="/styles/style3.css" type="text/css">
<link rel="stylesheet" href="/styles/lyrics.css" type="text/css">

<body class="index">
    <header id="header">
        <h1>
          <a href="/">
            <i class="fas fa-music"></i><span class="white">USIC</span> <span class="strike">STR</span><i class="fas fa-bolt"></i><span
              class="strike">KE</span>
          </a>
        </h1>
        <!-- <a href="/"><img src="https://i.imgur.com/nvEz4uW.png" alt="" srcset="" id="logo"></a> -->
        <a href="#menu">Menu</a>
      </header>
      <!-- Nav -->
      <nav id="menu">
        <ul class="links">
          <li><a href="/"><i class="fas fa-home"></i>&nbsp;Home</a></li>
          <li><a href="/viewmylist"><i class="fas fa-music"></i> &nbsp;My Playlist</a></li>
          <li><a href="/lyrics"><i class="far fa-file-audio"></i> &nbsp;Lyrics</a></li>
        </ul>
      </nav>
  <div class="container-audio">
      
        <div class="container-audio">
<div id='song'>

<h2><%=amazingSong.title%></h2>
<br>
<img src="<%=amazingSong.album_cover_image %>">
<br>
<h2><%=amazingSong.artistname%><h2>
<audio controls>
    <source src="<%= amazingSong.preview_mp3 %>" type="audio/mpeg">
</audio>
<h3><%=amazingSong.album_title%></h3>

<button id="up">Update</button>
</div>
<form action="/delete/<%= amazingSong.id %>?_method=DELETE" method="POST">
    <button type="submit" class="del"> delete song </button>
  </form>
</div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
    <div class="colum1">
        <div class="row"></div>
    </div>
</div>
  <div>
    <form action="/update/<%= amazingSong.id %>?_method=PUT" method="POST" id="hiddenForm" style="display: none;">

      <input name="title" type="text" value="<%= amazingSong.title %>">
      <br>
      <input name="album_cover_image" type="text" value="<%= amazingSong.album_cover_image %>">
      <br>
      <input name="artistname" type="text" id="" value="<%= amazingSong.artistname %>">
      <br>
      <input name="preview_mp3" type="text" value="<%= amazingSong.preview_mp3 %>">
      <br>
      <input name="album_title" type="text" value="<%= amazingSong.album_title %>">
      <br>
      <button type="submit"> Update Song </button>
    </form>
  </div>
        


<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
 <script>
        $('#up').click(showForm) ;
        function showForm(){
          $('#hiddenForm').show();
          $('.container-audio').hide();
        }
      </script>

     <script src="/js/jquery.min.js"></script>
      <script src="/js/jquery.scrolly.min.js"></script>
      <script src="/js/skel.min.js"></script>
      <script src="/js/util.js"></script>
      <script src="/js/main.js"></script>
</body>

